/* src/styles/Banner.css */
.banner-container {
  position: relative;
  width: 100%;
  padding: 8rem 2rem;
  color: #f8f9fa;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-coaches-title {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.banner-coaches-title .highlight {
  color: #10db2b;
}

.banner-coaches-description {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2.5rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #50614b;
  text-shadow: 1px 0px 1px rgba(64, 255, 0, 0.4);
}

.banner-coaches-button {
  background-color: #10db2b;
  color: #121212;
  border: none;
  padding: 1.2rem 2.5rem;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.banner-button:hover {
  background-color: #0f8c1f;
  transform: translateY(-2px);
}