/* NUESTRA MISION */

.containers-text {
  padding: 40px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  max-width: 1900px;
  width: 100%;
}

.mission-section p {
  line-height: 1.6;
  margin-bottom: 30px;
}

.mision-title {
  text-align: center;
  font-weight: 300;
  letter-spacing: 5px;
  color: #10db2b;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.service-item {
  cursor: grab;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.service-item:hover {
  border: 2px solid #10db2b;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.service-item h3 {
  color: #10db2b;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.1em;
}

.service-item p {
  font-size: 0.9em;
  line-height: 1.5;
}

p {
  text-align: justify;
  margin: 0 15px;
}


/* HORARIOS DE ATENCION */

.attention-section {
  border: 2px solid #10db2b;
  padding: 20px;
}

.horarios-title {
  text-align: center;
  font-weight: 300;
  letter-spacing: 5px;
  color: #10db2b;
  margin-bottom: 20px;
}

.schedule-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 1.2em;
  color: #fff;
}

.schedule-day {
  font-weight: bold;
}

@media screen and (max-width: 768px) and (min-width: 350px) {
  .containers-text {
    grid-template-columns: 1fr;
  }
}