/* src/styles/Carousel.css */
.title-img {
    font-size: 5rem;
    text-align: center;
    color: rgba(300, 300, 300, 0.6);
    font-weight: bold;
}

.parallax-1 {
    background: url('/public/imagen1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.parallax-2 {
    background: url('/public/imagen2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
}

.parallax-3 {
    background: url('/public/imagen3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
}

.parallax-inner {
    padding: 35vh 0;
}

/* RESPONSIVE */
@media (max-width: 640px) {
    .title-img {
        font-size: 2.5rem;
    }

    .parallax-2 {
        background: url('/public/imagen2-phone.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .parallax-2,
    .parallax-3 {
        width: 100%;
        height: 65vh;
    }

    .parallax-inner {
        padding: 30vh 0;
    }
}