/* src/styles/Form.css */
.form-turnos {
    width: 75%;
}

.select-clases,
.input-turno,
.btn-turnos {
    border: 1px solid rgba(64, 255, 0, 0.475);
    text-shadow: 0px 0px 1px rgba(64, 255, 0, 1);
    transition: all 0.3s ease-in-out;
}

.form-turnos select:focus {
    border: 1px solid rgba(64, 255, 0, 1);
    box-shadow: 0 0 0 2px rgba(64, 255, 0, 0.475);
}

.form-turnos option:focus {
    border: 1px solid rgba(64, 255, 0, 1);
    box-shadow: 0 0 0 2px rgba(64, 255, 0, 0.475);
}

.form-turnos input:focus {
    border: 1px solid rgba(64, 255, 0, 1);
    box-shadow: 0 0 0 2px rgba(64, 255, 0, 0.475);
}

.btn-turnos:hover {
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}

.option-clase {
    font-weight: bold;
    color: #4a7d3a;
    text-shadow: 0px 0px 1px rgba(64, 255, 0, 1);
}

.option-clases {
    color: #1c7100;
    text-shadow: 0px 1px 5px #90f372;
}

/* RESPONSIVE */
@media (max-width: 640px) {
    .form-turnos {
        width: 100%;
    }
}