/* src/styles/Navbar.css */
.navbar {
    width: 100%;
    padding: 0.8rem 2rem;
    transition: transform 0.3s ease-in-out;
    background-color: #212529;
    border-bottom: 2px solid rgb(64, 255, 0);
    z-index: 1000;
}

.navbar.fixed {
    position: fixed;
    top: 0;
}

.navbar.hidden {
    transform: translateY(-120%);
}

.navbar-center {
    margin: 0 auto;
}

@media (max-width: 991.98px) {
    .navbar-center {
        margin: 0;
    }
}

.logo-navbar {
    height: 5rem;
    width: auto;
    margin-right: 5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.logo-navbar:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 5px rgba(64, 255, 0, 1));
}

.title-navbar,
.nav-sobre-nosotros {
    font-size: 1.8rem;
    font-weight: 600;
    color: #f8f9fa;
    text-shadow: 0px 0px 3px rgba(64, 255, 0, 1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.title-navbar span,
.nav-sobre-nosotros span {
    color: #10db2b;
}

.title-navbar:hover,
.nav-sobre-nosotros:hover {
    transform: scale(0.95);
    color: #10db2b;
}

.btn-navbar-link {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #50614b;
    text-shadow: 1px 0px 1px rgba(64, 255, 0, 0.4);
    border: 1px solid transparent;
    padding: 0.4rem 0.8rem;
    transition: all 0.3s ease-in-out;
}

.btn-navbar-link:hover {
    transform: scale(0.95);
    border-color: #4dd45d;
    color: #4dd45d;
}

.btn-logout {
    font-size: 1.8rem;
    color: #50614b;
    transition: all 0.3s ease-in-out;
}

.btn-logout:hover {
    transform: scale(1.1);
    color: #4dd45d;
}

.navbar-bottom {
    position: absolute;
    top: 70vh;
    width: 100%;
    padding: 0.8rem 1.5rem;
    background-color: rgba(300, 300, 300, 0.2);
}

.btn-navbar-botton {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: #d8ffcd;
    text-shadow: 1px 1px 2px rgba(64, 255, 0);
    border: 1px solid transparent;
    padding: 0.3rem 0.5rem;
    transition: all 0.3s ease-in-out;
}

.btn-navbar-botton:hover {
    transform: scale(0.95);
    text-decoration: underline;
    color: #1b440f;
    font-weight: 500;
}

/* RESPONSIVE */
@media (max-width: 991.98px) {
    .navbar {
        padding: 0.8rem 1.5rem;
    }

    /* Cuando el menú hamburguesa está abierto */
    .navbar-collapse.show {
        text-align: center;
        margin-top: 1rem;
        border-top: 1px solid #10db2b;
        padding-top: 1rem;
    }

    /* Espaciado vertical entre elementos del menú móvil */
    .navbar-collapse .navbar-nav {
        gap: 0.5rem;
    }

    .navbar-collapse .nav-item {
        margin-bottom: 1rem;
    }

    .btn-navbar-link {
        font-size: 1.5em;
    }
}