.navbar {
    width: 100%;
    height: 90px;
    transition: transform 0.3s ease, position 0.3s ease;
    background-color: #212529;
    z-index: 1000;
}

.navbar.fixed {
    position: fixed;
    top: 0;
}

.navbar.hidden {
    transform: translateY(-120%);
}

#logo {
    font-size: 2em;
    color: #13200f;
    cursor: grab;
    text-shadow: 0px 0px 3px rgba(64, 255, 0, 1);
    transition: all 0.3s ease-in-out;
}

#logo span {
    color: #10db2b;
}

#logo:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    color: #10db2b;
}

#SobreNosotros {
    font-size: 2em;
    color: #13200f;
    cursor: grab;
    text-shadow: 0px 0px 3px rgba(64, 255, 0, 1);
    transition: all 0.3s ease-in-out;
}

#SobreNosotros span {
    color: #10db2b;
}

#SobreNosotros:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    color: #10db2b;
}

#boton1 {
    font-size: 1.5em;
    color: #719d77;
    text-shadow: 0px 0px 1px hsl(128, 100%, 8%);
    transition: all 0.3s ease-in-out;
}

#boton1:hover {
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
    color: #4dd45d;
}

.navbar-bottom {
    background-color: rgba(300, 300, 300, 0.15);
    position: absolute;
    top: 50%;
    width: 100%;
    height: 80px;
}

@media (max-width: 768px) {
    .container-btn {
        display: flex;
        align-items: center;
    }

    #logo,
    #SobreNosotros {
        font-size: 1.3em;
    }

    #boton1 {
        font-size: 1em;
        width: 70%;
    }
}